@import '~styles/variables';

.header {
  margin-bottom: 10px;
  background: $main-color;
}

.logo {
  margin-right: 15px;
}

.header-container {
  display: flex;
  align-items: center;
}

login-panel {
  margin-left: auto;
}
