.course-item {
  display: flex;
  margin: 0 0 10px;
  padding: 10px;
  background: #eaeaea;
  border: 2px solid #eee;
  border-radius: 5px;
}

.content {
  flex: 1 0 0;
  padding-right: 10px;
}

.buttons {
  flex: 0 0 150px;
}

.header {
  display: flex;
  margin: 0 0 10px;
}

.title {
  margin-right: 10px;
}

.duration {
  flex: 0 0 auto;
}

.date {
  flex: 0 0 100px;
  margin-left: auto;
  text-align: right;
}

.top-rated {
  width: 18px;
  height: 18px;
  margin-left: 5px;
  background-image: url(./assets/images/star-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
