/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import 'variables';

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

.error-messages {
  position: absolute;
  left: 100%;
  top: 7px;
  width: 250px;
  color: #a94442;
}
